<p id="notice"><%= notice %></p>

<p>
  <strong>Course number:</strong>
  <%= @want.course_number %>
</p>

<p>
  <strong>Course name:</strong>
  <%= @want.course_name %>
</p>

<p>
  <strong>Course section:</strong>
  <%= @want.course_section %>
</p>

<p>
  <strong>Trade:</strong>
  <%= @want.trade_id %>
</p>

<%= link_to 'Edit', edit_want_path(@want) %> |
<%= link_to 'Back', wants_path %>
