<h1>Listing haves</h1>

<table>
  <thead>
    <tr>
      <th>Course number</th>
      <th>Course name</th>
      <th>Course section</th>
      <th>Trade</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @haves.each do |hafe| %>
      <tr>
        <td><%= hafe.course_number %></td>
        <td><%= hafe.course_name %></td>
        <td><%= hafe.course_section %></td>
        <td><%= hafe.trade_id %></td>
        <td><%= link_to 'Show', hafe %></td>
        <td><%= link_to 'Edit', edit_hafe_path(hafe) %></td>
        <td><%= link_to 'Destroy', hafe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Have', new_hafe_path %>
