<p id="notice"><%= notice %></p>

<p>
  <strong>Course number:</strong>
  <%= @hafe.course_number %>
</p>

<p>
  <strong>Course name:</strong>
  <%= @hafe.course_name %>
</p>

<p>
  <strong>Course section:</strong>
  <%= @hafe.course_section %>
</p>

<p>
  <strong>Trade:</strong>
  <%= @hafe.trade_id %>
</p>

<%= link_to 'Edit', edit_hafe_path(@hafe) %> |
<%= link_to 'Back', haves_path %>
